body {
    padding-top: 4rem;
}

#nav {
    height: 4rem;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    border-bottom: 2px solid var(--border-color);   
}

#nav-container {
    height: inherit;
    max-width: var(--max-width-page);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
}

#nav-menu-btn {
    padding: 0.50rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 0.375rem;
    background-color: transparent;
}

#nav-menu-btn:active {
    background-color: var(--active-nav-menu-btn-color);
    transition: all 0.3s ease-in-out;
}

#nav-menu-btn > ion-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#links-container {
    display: none;
    gap: 1rem;
}

#main {
    height: calc(100svh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: var(--max-width-page);
    margin: 0 auto;
    gap: 1rem;
}

#main-title {
    font-size: 5rem;
    color: var(--primary-color);
}

#main-desc-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-desc-text {
    text-align: justify;
}

#main-desc-link {
    border: 2px solid var(--primary-color);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.325rem;
    align-self: center;
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#main-desc-link:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Tablet */
@media (min-width: 768px) {
    #main {
        flex-direction: row;
        width: 90%;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    #nav-menu-btn {
        display: none;
    }

    #links-container {
        display: flex;
    }

    #main {
        width: 70%;
    }

    #main-title {
        font-size: 6rem;
    }

    #main-desc-text {
        font-size: 1.3rem;
    }

    #main-desc-link {
        font-size: 1.5rem;
    }
}

/* Escritorio */
@media (min-width: 1444px) {
    #main-title {
        font-size: 8rem;
    }
}